.logo{
    width: 200px;
    height: auto;
}

.barraMenu{
   // background: #0a476d;
    display: flex;
}

nav{
    display: flex;
    align-items: center;
    ul {
        top: 0;
        display: flex;
        background: red;
        //list-style: none;
        a {
           margin: 0 .2em;
           color: inherit;
           text-decoration: none;
         }
      }
}

/*
color1: #55C6E4;
color2: #0076BF;
color3: #FDCE00;
color4: #08090B;
color5: #FB1360;
color6: #A8A8A9; 
*/